# Note: `src/**.cpp` files might be analyzed twice, once for each target
# TODO: Fix third group, static or recursion are to be comment-ignored
WarningsAsErrors: '*'
Checks: >
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,

  -google-readability-avoid-underscore-in-googletest-name,
  -readability-named-parameter,
  -readability-redundant-member-init,
  -readability-static-accessed-through-instance,

  -bugprone-easily-swappable-parameters,
  -google-explicit-constructor,
  -misc-include-cleaner,
  -misc-no-recursion,
  -modernize-pass-by-value,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-convert-member-functions-to-static,

# TODO: https://clang.llvm.org/extra/clang-tidy/checks/readability/function-cognitive-complexity.html
# TODO: https://clang.llvm.org/extra/clang-tidy/checks/readability/function-size.html
# TODO: https://clang.llvm.org/extra/clang-tidy/checks/readability/identifier-naming.html
CheckOptions:
  - key: readability-identifier-length.IgnoredParameterNames
    value: '^(s|os)$'
  - key: readability-identifier-length.IgnoredVariableNames
    value: '^(s|os)$'

