fasteners == 0.20

pytest == 8.4.2

flake8 == 7.3.*
flake8-docstrings == 1.7.*
flake8-executable == 2.1.*
flake8-import-order == 0.19.*
flake8-unused-arguments == 0.0.*
mypy == 1.18.*
pep8-naming == 0.15.*
python-magic == 0.4.27

clang-format == 21.1.6
clang-tidy == 21.1.1

gcovr == 8.4

