name: License
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  license:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - run: .github/workflows/license.py --recurse

