name: Lint
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - ci/**
  pull_request:

jobs:
  clang-format:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: jidicula/clang-format-action@v4.15.0
        with:
          clang-format-version: 20

