# Important: This workflow ensures every other one runs,
# so please make sure it still runs after you modify it!
name: Pull
on:
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: raven-actions/actionlint@v2

  required:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions: { actions: read }
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            core.info('failed/completed/total:');
            while (true) {
                const ref = context.payload.after;
                const jobs = await github.paginate(
                    github.rest.checks.listForRef,
                    { ...context.repo, ref, per_page: 100 }
                );
                const others = jobs.filter(j => j.name !== context.job);
                const completed = others.filter(j => j.status === 'completed');
                const failed = completed.filter(j => j.conclusion[0] !== 's');

                core.info(`${failed.length}/${completed.length}/${others.length}`)
                if (failed.length) {
                    core.setFailed(`Failed: ${failed.map(j => j.name).join(', ')}`);
                    break;
                } else if (completed.length == others.length) {
                    break;
                }
                await new Promise((r) => setTimeout(r, 10 * 1000));
            }

