name: Test
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        toolchain: [ gcc, clang, msvc ]
        mode: [ debug ]
        engine: [ stl, pcre2, re2, hyperscan ]
        include:
          - { os: windows-latest, toolchain: gcc, mode: coverage, engine: stl }
          - { os: ubuntu-latest, toolchain: gcc, mode: coverage, engine: stl }
        exclude:
          # MSVC only on Windows
          - { os: ubuntu-latest, toolchain: msvc }
          - { os: macos-latest, toolchain: msvc }
          # Linker failure, debug flags mismatch
          - { os: windows-latest, toolchain: clang }
          # Linker issues
          - { os: windows-latest, toolchain: gcc, engine: hyperscan }
          - { os: macos-latest, toolchain: gcc, engine: hyperscan }
          - { os: macos-latest, toolchain: clang, engine: hyperscan }
          # Hyperscan v5.4.2 - unqualified call to 'std::move'
          - { os: ubuntu-latest, toolchain: clang, engine: hyperscan }
    runs-on: ${{ matrix.os }}
    # Hyperscan takes long time to compile
    timeout-minutes: ${{ matrix.engine == 'hyperscan' && 30 || 10 }}
    steps:
      - uses: actions/checkout@v4
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: '>=3.0.1'
          actions-cache-folder: .xmake-cache
          package-cache: true
          package-cache-key: ${{ matrix.os }}.${{ matrix.toolchain }}.${{ matrix.mode }}.${{ matrix.engine }}
          project-path: glug
      - run: >
          xmake config -vy
          --toolchain=${{ matrix.toolchain }}
          --mode=${{ matrix.mode }}
          --engine=${{ matrix.engine }}
          ${{ (matrix.os == 'windows-latest' && matrix.toolchain != 'msvc') && '--plat=mingw' || '' }}
      - run: xmake build -v unit_test
      - run: xmake test -v unit_test/default
      - uses: threeal/gcovr-action@v1.2.0
        if: matrix.mode == 'coverage'
        with:
          html-out: coverage_report.html
          html-details: true
          json-out: coverage_report.json
          json-pretty: true
          print-summary: true
      - uses: actions/upload-artifact@v4
        if: always() && matrix.mode == 'coverage'
        with:
          name: coverage_${{ matrix.os }}
          path: 'coverage_report.*'
  parity-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      # Has to be run before cache restore, otherwise Windows fails on long paths and/or symlinks
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: pip
      - run: pip install -r requirements.txt
      - uses: actions/cache@v4
        with:
          path: test/data/.cloned
          key: ${{ runner.os }}-${{ hashFiles('tools/git.py', 'test/parity/repos.py') }}
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: '>=3.0.1'
          actions-cache-folder: .xmake-cache
          package-cache: true
          package-cache-key: ${{ matrix.os }}
          project-path: glug
      - run: git config --global user.name CI
      - run: git config --global user.email ci@github.com
      - name: Windows path fixes
        if: matrix.os == 'windows-latest'
        shell: powershell  # To silence actionlint shellcheck errors
        run: |
          git config --global core.longpaths true
          git config --global core.ignorecase false
          reg add HKLM\SYSTEM\CurrentControlSet\Control\Nls\CodePage -v ACP -d 65001 -f
          reg add HKLM\SYSTEM\CurrentControlSet\Control\Nls\CodePage -v OEMCP -d 65001 -f
          reg add HKLM\SYSTEM\CurrentControlSet\Control\Nls\CodePage -v MACCP -d 65001 -f
      - run: xmake config -vy --mode=release
      - run: xmake build -v parity_test
      - run: xmake test -v parity_test/default
  required:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: always()
    needs:
      - unit-test
      - parity-test
    steps:
      - uses: actions/checkout@v4
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}


