name: Tools
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  tools:
    strategy:
      fail-fast: false
      matrix:
        tool: [ license, encoding, ignored ]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: pip
      - run: pip install -r requirements.txt
      - run: tools/${{ matrix.tool }}.py
  required:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: always()
    needs:
      - tools
    steps:
      - uses: actions/checkout@v4
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}


