name: Tools
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  license:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - run: pip install -r requirements.txt
      - run: tools/license.py

