# Important: This workflow ensures every other one runs,
# so please make sure it still runs after you modify it!
name: Workflows
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: raven-actions/actionlint@v2

  required:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ always() }}
    permissions: { actions: read }
    steps:
    - uses: actions/github-script@v7
      with:
        script: |
          const sleep = (s) => new Promise(r => setTimeout(r, 1000 * s));
          const jobs = async (predicate) => {
              let results = await github.paginate(
                  github.rest.actions.listJobsForWorkflowRun,
                  { ...context.repo, run_id: context.runId, per_page: 100 }
              );
              results = results.filter(j => j.name !== 'required');
              core.info('All:');
              core.info(results.map(j => `${j.name}:${j.status}:${j.conclusion}`).join(', '));
              results = results.filter(predicate);
              core.info('Filtered:');
              core.info(results.map(j => `${j.name}:${j.status}:${j.conclusion}`).join(', '));
              return results;
          };

          while (await jobs(j => j.status !== 'completed')) { await sleep(10) };
          core.info('Done waiting');
          const failed = await get_jobs(j => j.conclusion[0] !== 's');  // success, skipped
          if (failed) { core.setFailed(`Failed: ${failed.map(j => j.name).join(', ')}`); }

