# Important: This workflow ensures every other one runs,
# so please make sure it still runs after you modify it!
name: Workflows
on:
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: raven-actions/actionlint@v2

  required:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    if: ${{ always() }}
    permissions: { actions: read }
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            core.info('<debug>')
            const ref = context.payload.pull_request.head.sha;
            const results = await github.paginate(
                github.rest.checks.listForRef,
                { ...context.repo, ref, per_page: 100 }
            );
            core.info(JSON.stringify(results, null, 2));
            core.info('</debug>')

