# Important: This workflow ensures every other one runs,
# so please make sure it still runs after you modify it!
name: Workflows
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: raven-actions/actionlint@v2

  required:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    if: ${{ always() }}
    permissions: { actions: read }
    steps:
    - uses: actions/github-script@v7
      with:
        script: |
          core.info(JSON.stringify(context))

