# Important: This workflow ensures every other one runs,
# so please make sure it still runs after you modify it!
name: Workflows
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: raven-actions/actionlint@v2

  # Hand-roll polling script, because `re-actors/alls-green@release/v1`
  # and other `needs`-based solutions have trouble blocking while in progress.
  all-green:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    if: always()
    steps:
      - uses: actions/checkout@v4
      - run: |
          function any-checks {
            gh pr checks --json 'name,state' \
              | jq -r '.[] | select(.name != "all-green") | .state' \
              | grep -qi "$1"
          }

          sleep 10
          gh pr checks --json 'name,state'
          while any-checks 'in_progress'; do sleep 10; done
          if any-checks 'failed'; then exit 1; fi
        env:
          GH_TOKEN: ${{ github.token }}

